@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #6764e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.title {
    margin-left: 3%;
    display: flex;
    align-items: center;
}

.logo {
    width: 20%;
    margin-right: 10px;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 700;
}

.copyright {
    padding: 10px;
}

main {
    background-color: #d9d9d9;
    padding: 20px;
}

main:first-child {
    margin-top: 10px;
}

section {
    background-color: #bab2b2;
    border-radius: 30px;
    padding: 15px;
    margin-top: 40px;
}

.main-text {
    background-color: #a6a2a2;
    padding: 10px;
    border-radius: 15px;
}

